<div class="overflow-hidden my-3 d-flex justify-content-between">
  <h3 class="mb-0">
    <fa-icon [icon]="'users'"></fa-icon>
    <span class="ml-2">{{attendeeService.getActiveMembers().length}}</span>
  </h3>


  <div *ngIf="quizService.isOwner">
    <ng-container *ngIf="countdown && quizService.quiz?.sessionConfig?.music.enabled.countdownRunning">
      <app-audio-player [config]="countdownRunningMusicConfig"></app-audio-player>
    </ng-container>

    <ng-container *ngIf="quizService.quiz?.sessionConfig?.music.enabled.countdownEnd">
      <app-audio-player #countdownEndAudioComp [config]="countdownEndMusicConfig"></app-audio-player>
    </ng-container>

    <ng-container *ngIf="countdown">
      <app-gamification-animation [countdownValue]="countdown"></app-gamification-animation>
    </ng-container>
  </div>

  <h3 *ngIf="countdown > 0"
      class="mb-0">
    <span class="mr-2">{{countdown}}</span>
    <fa-icon [icon]="'hourglass'"></fa-icon>
  </h3>
</div>

<ng-container *ngIf="quizService.getVisibleQuestions() as visibleQuestions">
  <div *ngIf="visibleQuestions.length > 1 || showStartQuizButton || showStopCountdownButton || showStopQuizButton"
       class="my-3 overflow-auto btn-header">
    <div class="btn-group">

      <button (click)="startQuiz()"
              *ngIf="showStartQuizButton && !(showStopCountdownButton || showStopQuizButton)"
              [class.w-100]="quizService.getVisibleQuestions().length"
              class="btn btn-warning text-nowrap">

        <ng-container *ngIf="quizService.quiz?.sessionConfig.readingConfirmationEnabled">
          <span *ngIf="quizService.readingConfirmationRequested"
                class="mr-1">
            {{'component.liveResults.start_round' | translate}}
          </span>

          <span *ngIf="!quizService.readingConfirmationRequested"
                class="mr-1">
            {{'component.liveResults.show_question' | translate}}
          </span>
        </ng-container>

        <span *ngIf="!quizService.quiz?.sessionConfig.readingConfirmationEnabled"
              class="mr-1">
          {{'component.liveResults.start_question' | translate}}
        </span>

        <fa-icon *ngIf="!isStarting"
                 [icon]="'paper-plane'"></fa-icon>
        <fa-icon *ngIf="isStarting"
                 [icon]="'spinner'"
                 [spin]="true"></fa-icon>
      </button>

      <button (click)="stopQuiz()"
              *ngIf="!showStartQuizButton && (showStopCountdownButton || showStopQuizButton)"
              class="btn btn-warning text-nowrap">
        <span *ngIf="showStopCountdownButton"
              class="mr-1">{{'component.liveResults.abort_countdown' | translate}}</span>
        <span *ngIf="showStopQuizButton"
              class="mr-1">{{'component.liveResults.abort_question' | translate}}</span>
        <fa-icon *ngIf="!isStopping"
                 [icon]="'ban'"></fa-icon>
        <fa-icon *ngIf="isStopping"
                 [icon]="'spinner'"
                 [spin]="true"></fa-icon>
      </button>

      <ng-container *ngIf="visibleQuestions.length > 1">
        <button (click)="modifyVisibleQuestion(i)"
                *ngFor="let question of visibleQuestions; let i = index"
                [class.disabled]="i === selectedQuestionIndex || countdown > 0"
                [disabled]="i === selectedQuestionIndex || countdown > 0"
                class="btn btn-primary text-nowrap">
          <span>{{'component.liveResults.question_number' | translate}} {{i + 1}}</span>
        </button>
      </ng-container>
    </div>
  </div>

  <div class="question">
    <h5 *ngIf="quizService.quiz?.questionList.length">
      <span class="mr-1">{{'component.liveResults.question_number' | translate}}&nbsp;{{selectedQuestionIndex + 1}} / {{quizService.quiz.questionList.length}}</span>
      <fa-icon *ngIf="isLoadingQuestionData"
               [icon]="'spinner'"
               [spin]="true"></fa-icon>

      <fa-icon *ngIf="settingsService.frontEnv?.enableBonusToken && quizService?.currentQuestion()?.requiredForToken"
               [icon]="['fas', 'key']"
               class="text-warning ml-sm-2"
               [ngbTooltip]="'component.quiz_summary.required-for-token.label' | translate"></fa-icon>
    </h5>

    <app-voting-question *ngIf="questionText && quizService?.currentQuestion()?.questionText && (countdown || this.quizService.readingConfirmationRequested)"
                         [questionText]="questionText"
                         [answers]="quizService?.currentQuestion()?.displayAnswerText === false ? answers : null"
                         [tags]="quizService?.currentQuestion()?.tags"></app-voting-question>

    <div *ngIf="showLeaderBoardButton(selectedQuestionIndex) || showQuestionButton(selectedQuestionIndex)"
         class="d-flex">
      <button (click)="hasTriggeredNavigation = true"
              *ngIf="showLeaderBoardButton(selectedQuestionIndex)"
              [class.mr-1]="showQuestionButton(selectedQuestionIndex)"
              [class.w-100]="!showQuestionButton(selectedQuestionIndex)"
              [class.w-50]="showQuestionButton(selectedQuestionIndex)"
              [routerLink]="['/quiz', 'flow', 'leaderboard', visibleQuestions.length > 1 ? selectedQuestionIndex : 'all']"
              class="btn btn-light"
              type="button">
        <fa-icon [icon]="'trophy'"
                 class="mr-2"></fa-icon>
        <span>{{'component.liveResults.ranking' | translate}}</span>
      </button>
      <button (click)="hasTriggeredNavigation = true"
              *ngIf="showQuestionButton(selectedQuestionIndex)"
              [class.ml-1]="showLeaderBoardButton(selectedQuestionIndex)"
              [class.w-100]="!showLeaderBoardButton(selectedQuestionIndex)"
              [class.w-50]="showLeaderBoardButton(selectedQuestionIndex)"
              [routerLink]="['/quiz', 'flow', 'results', selectedQuestionIndex]"
              class="btn btn-light"
              type="button">
        <fa-icon [icon]="'question'"
                 class="mr-2"></fa-icon>
        <span>{{'component.liveResults.question' | translate}}</span>
      </button>
    </div>

    <app-reading-confirmation-progress *ngIf="showReadingConfirmation(selectedQuestionIndex)"
                                       [data]="getReadingConfirmationData(selectedQuestionIndex)"></app-reading-confirmation-progress>

    <app-confidence-rate *ngIf="showConfidenceRate(selectedQuestionIndex)"
                         [data]="getConfidenceData(selectedQuestionIndex)"></app-confidence-rate>

    <app-progress-bar *ngIf="showResponseProgress"
                      [data]="answers"
                      [hideProgressbarCssStyle]="hideProgressbarStyle"
                      [questionIndex]="selectedQuestionIndex"
                      [question]="quizService.quiz.questionList[selectedQuestionIndex]"></app-progress-bar>
  </div>
</ng-container>
