<div class="bg-white text-dark p-3 mb-5">
  <h4>Create new Message of the Day</h4>

  <form (ngSubmit)="submitForm()"
        [formGroup]="motdForm">
    <label class="align-self-start"
           for="title-title">Title</label>
    <div class="input-group input-group-sm">
      <input class="form-control"
             formControlName="title"
             id="title-title"
             placeholder="Title for your motd"
             type="text"/>
    </div>
    <p *ngIf="motdForm.get('title').dirty && motdForm.get('title').hasError('required')"
       class="text-danger">Title
                           is missing!</p>
    <div class="form-group mt-3">
      <label for="textarea">Content</label>
      <textarea (input)="compileMD('')"
                class="form-control"
                formControlName="content"
                id="textarea"
                placeholder="Description, info, or more important content ..."
                rows="4"></textarea>
      <p *ngIf="motdForm.get('content').dirty &&
            motdForm.get('content').hasError('required')"
         class="text-danger">Content is missing!</p>
    </div>
    <div class="form-group form-check">
      <input (ngModelChange)="isPinnedChange($event)"
             class="form-check-input"
             formControlName="isPinned"
             id="show-until-deleted"
             type="checkbox">
      <label class="form-check-label"
             for="show-until-deleted">Always show until deleted manually</label>
    </div>
    <div *ngIf="!motdForm.get('isPinned').value"
         class="form-group mt-3">
      <label for="expiry">Expire Date</label>
      <input class="form-control"
             formControlName="expireAt"
             id="expiry"
             placeholder=""
             type="date"/>
      <p *ngIf="motdForm.get('content').dirty &&
            motdForm.get('expireAt').hasError('required')"
         class="text-danger">Expiry Date is missing!</p>
    </div>

    <div class="d-flex justify-content-end">
      <button [disabled]="isSending || !motdForm.valid"
              class="btn btn-primary"
              type="submit">
        <fa-icon *ngIf="isSending"
                 [spin]="true"
                 icon="spinner"></fa-icon>
        <span *ngIf="!isSending">Create Motd</span>
      </button>
    </div>

  </form>
  <div *ngIf="!!motdForm.get('content').value"
       class="mb-3 p-3 mb-5">
    <h5>Preview</h5>
    <div class="card shadow-md">
      <div class="card-body">
        <h5 class="card-title">{{motdForm.get('title').value}}</h5>
        <div [innerHTML]="getMarkdownPreview()"
             markdown></div>
      </div>
    </div>
  </div>
</div>

<h4 class="text-white">
  {{motdData.allMotds ? motdData.allMotds.length : 0}} Messages of the Day found
</h4>
<div class="row">
  <div *ngFor="let motd of motdData.allMotds"
       class="col-lg-6 mb-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{motd.title}}</h5>
        <div [innerHTML]="compileMD(motd.content)"
             class="card-text"
             markdown></div>
        <hr>
        <div class="d-flex justify-content-end text-right">
          <span>{{ motd.createdAt | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
        </div>
        <div class="d-flex justify-content-end text-right">
            <small><span>changed: {{ motd.updatedAt | date:'dd.MM.yyyy HH:mm:ss'}}</span></small>
        </div>
          <hr>
        <a (click)="deleteMotd(motd._id)"
           class="card-link text-danger cursor-pointer">Delete
        </a>
        <a (click)="startEditMotd(motd)"
           class="card-link text-primary cursor-pointer">Edit
        </a>
      </div>
    </div>
  </div>
</div>
