<div class="mt-5">
  <div [attr.aria-label]="'component.timer.description' | translate"
       [attr.data-intro]="'component.timer.description' | translate"
       class="row">
    <div class="col-12">
      <label class="input-group justify-content-center align-items-center">
        <fa-icon [icon]="'hourglass'"></fa-icon>
        <input [(ngModel)]="countdown"
               [min]="minCountdownValue"
               [title]="countdown + ('component.timer.second' | translate:{COUNT: countdown})"
               [attr.aria-valuetext]="countdown + ('component.timer.second' | translate:{COUNT: countdown})"
               class="border-0 rounded mx-3"
               type="number"/>
        <span>
          {{ 'component.timer.second' | translate:{COUNT: countdown} }}
        </span>
      </label>
    </div>
    <div *ngIf="countdown"
         class="col-6 offset-2">
      <p class="text-center mt-4">
          <span *ngIf="plainHours"
                class="mr-2">
            <span class="mr-1">{{parsedHours}}</span>
            <span>{{'component.timer.hour' | translate:{COUNT: plainHours} }}</span>
          </span>
        <span *ngIf="plainHours || plainMinutes"
              class="mr-2">
            <span class="mr-1">{{parsedMinutes}}</span>
            <span>{{'component.timer.minute' | translate:{COUNT: plainMinutes} }}</span>
          </span>
        <span *ngIf="plainMinutes || plainSeconds">
            <span class="mr-1">{{parsedSeconds}}</span>
            <span>{{'component.timer.second' | translate:{COUNT: plainSeconds} }}</span>
          </span>
      </p>
    </div>
  </div>
</div>
