<app-twitter-settings-form></app-twitter-settings-form>
<app-front-env-settings-form></app-front-env-settings-form>
<app-admin-git-settings-form></app-admin-git-settings-form>
<app-admin-web-notification-settings-form></app-admin-web-notification-settings-form>
<app-admin-misc-settings-form></app-admin-misc-settings-form>
