<div class="my-3 d-flex justify-content-between align-items-center">
  <h3 class="mb-0">
    <fa-icon [icon]="'users'"></fa-icon>
    <span class="ml-2">{{attendeeService.getActiveMembers().length}}</span>
  </h3>

  <div class="ml-auto" *ngIf="(quizService.isOwner && quizService.quiz?.sessionConfig?.music.enabled.lobby) || (quizService.playAudio && !quizService.isOwner && quizService.quiz?.sessionConfig?.music.shared.lobby)">
    <app-audio-player [config]="musicConfig"></app-audio-player>
  </div>

  <div *ngIf="attendeeService.ownAttendee as myself"
       class="my-1 d-flex flex-wrap flex-sm-nowrap col-auto">
    <p class="text-center mr-sm-2 d-flex justify-content-center flex-grow-1 align-self-center text-nowrap">{{'component.lobby.own_nickname' | translate}}</p>
    <div [style.background-color]="'#' + sanitizeHTML(myself.colorCode)"
         [style.color]="'#' + sanitizeHTML(ColorTransform.transformForegroundColor(ColorTransform.hexToRgb(myself.colorCode)))"
         class="p-2 rounded d-flex align-items-center justify-content-center own-nick w-100">
      <div *ngIf="myself.groupName" class="mr-2 flex-grow-1 flex-shrink-0">
        <div *ngIf="isHtmlNickname(myself.groupName)"
             [innerHTML]="parseNickname(myself.groupName)"></div>
        <div *ngIf="!isHtmlNickname(myself.groupName)">[{{myself.groupName}}]</div>
      </div>
      <p class="flex-grow-1 break-word" [class.text-center]="!myself.groupName">
          <span *ngIf="isHtmlNickname(myself.name)"
                [innerHTML]="parseNickname(myself.name)"></span>
        <span *ngIf="!isHtmlNickname(myself.name)">{{myself.name}}</span>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <ng-container *ngIf="!attendeeService.attendees.length">
    <div class="col-12">
      <h3 class="text-center center-top d-flex align-self-center justify-content-center">{{'component.lobby.waiting_for_players' | translate}}</h3>
    </div>
  </ng-container>

  <div *ngFor="let elem of attendeeService.attendees"
       class="my-1 col-sm-6 col-md-4 col-lg-3 d-flex">
    <div (click)="openKickMemberModal(removeMemberModal, elem.name)"
         [class.cursor-pointer]="quizService.isOwner"
         [style.background-color]="sanitizeHTML(getColorForNick(elem))"
         [style.color]="'#' + sanitizeHTML(ColorTransform.transformForegroundColor(ColorTransform.hexToRgb(getColorForNick(elem))))"
         class="p-2 rounded d-flex justify-content-center align-items-center w-100">
      <div *ngIf="elem.groupName" class="mr-2 flex-grow-1 flex-shrink-0">
        <div *ngIf="isHtmlNickname(elem.groupName)"
             [innerHTML]="parseNickname(elem.groupName)"></div>
        <div *ngIf="!isHtmlNickname(elem.groupName)">[{{elem.groupName}}]</div>
      </div>
      <p class="flex-grow-1 break-word" [class.text-center]="!elem.groupName">
          <span *ngIf="isHtmlNickname(elem.name)"
                [innerHTML]="parseNickname(elem.name)"></span>
        <span *ngIf="!isHtmlNickname(elem.name)">{{elem.name}}</span>
      </p>
    </div>
  </div>
</div>

<ng-template #removeMemberModal
             let-c="close"
             let-d="dismiss">
  <div class="modal-header">
    <button (click)="d()"
            aria-label="Close"
            class="close cursor-pointer"
            data-dismiss="modal"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p class="d-inline-flex">
      <span *ngIf="isHtmlNickname(nickToRemove)"
            [innerHTML]="'component.lobby.kick_member_confirmation' | translate:{NAME: parseNickname(nickToRemove)}"></span>
      <span *ngIf="!isHtmlNickname(nickToRemove)">{{'component.lobby.kick_member_confirmation' | translate:{NAME: nickToRemove} }}</span>
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="kickMember(nickToRemove)"
            class="btn btn-danger mr-auto"
            data-dismiss="modal"
            type="button">{{'global.yes' | translate}}</button>

    <button (click)="d()"
            class="btn btn-info"
            data-dismiss="modal"
            type="button">{{'global.no' | translate}}</button>

  </div>
</ng-template>
